main{
  font-family: "Roboto", sans-serif;
}
/* Asegura que el video esté debajo del navbar */
.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.video-background::before {
    content: '';
    /* Añade un pseudo-elemento para la superposición */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Oscurece el video */
    z-index: 0;
}

nav .navbar {
    z-index: 1000;
    /* Aseguramos que la barra de navegación quede sobre el video */
}
.mi-navbar {

  border-bottom: 1px solid #0c36df; /* línea decorativa inferior de los elementos del nav*/
  font-family: 'Roboto', sans-serif;
}
.mi-navbar .nav-link {
  position: relative;
  display: inline-block;
  color: #333333;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.mi-navbar .nav-link::after { /*Línea para resaltar el elemento */
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #0c36df;
  transition: width 0.3s ease;
}

.mi-navbar .nav-link:hover::after {
  width: 100%;
}

#video-overlay {
    margin: -1.5em;
}

.cliente-logo {
    max-height: 80px;
    max-width: 80px;
}
.card-heigth-services{
  height: 19em;
  width: 19em;
}
.card{
  width: 100%;
}
.card img{
      height: 100%;
  }

/*Media query para video */
@media (max-width: 767px) {
  .video-background {
    background: url('/sitio/images/114036-OOLOG5-493.jpg') no-repeat center center;
    background-size: cover;
  }

  .video-background video {
    display: none; /* Ya lo oculta Bootstrap, pero por si acaso */
  }
}

@media (min-width: 992px) {
  #body-services .card-body{
    padding-left:4em;
  }
}

/*Media query para las tarjetas de servicio 
@media (max-width: 991px) {
 .card img{
  display: none;
 }
}
 */